@import "tailwindcss";

:root {
  --color-primary: #0B1F3A;
  --color-accent: #FF6B00;
  --color-dark: #1C1C1C;
}
button{cursor: pointer;}

.bg-primary {
  background-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}

.bg-accent {
  background-color: var(--color-accent);
}

.text-accent {
  color: var(--color-accent);
}

body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}